<h1>ANÁLISE DE DADOS DO DESAFIO 03 - TRILHAS INOVA - CIÊNCIA DE DADOS</h1>
<h2> Análise de métricas: </h2>

> INFORMAÇÕES GERAIS: 
- Quantidade total de Inscritos 
- Média das Idades dos Inscritos
- Quantidade de municípios alcançados
- Quantidade de participantes que também estavam no TRILHAS I
- Quantidade de participantes por Escola de Origem (%)
- Quantidade de participantes por Raça / Cor (%)
- Quantidade de participantes por gênero (%)
- Quantidade de inscrições por data
- Quantidade de inscrições por Trilha (%)

> DADOS SOCIOECONÔMICOS:
- Quantidade Total de Inscritos
- Quantidade de Municípios alcançados (inteiro e %)
- Quantidade de inscritos sem acesso a um pc e a internet (inteiro e %)
- Quantitativo de inscritos por Renda familiar e escola de origem (%)
- Quantidade de inscritos por grau de escolaridade (%)
- Quantitativo de inscritos por Motivo da participação (%)
- Quantitativo de inscritos por ocupação atual (%)

> MUNICÍPIOS ALCANÇADOS
- Quantidade de inscritos por município

In [115]:
# Importando bibliotecas para análise teste
import pandas as pd
import plotly as plt

In [116]:
# Criando objeto dataframe com os dados
df = pd.read_csv('dados_trilhas.csv')
df.head()

,Carimbo de data/hora,Nome Completo,Idade,Município,Trilha,Gênero,Ocupação atual/Emprego:,Cor ou Raça,Grau de Escolaridade,Participou do Trilhas Anterior,Acesso a net e ao pc,Faixa de Renda Familiar,Motivo da Participação,Escola de Origem
0,2023/12/15 13:18:17,DESAFIO,24,São Luís,Programação (Front-end),Feminino,Nunca Trabalhei,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Ter formação em uma das Trilhas,Pública
1,2023/12/15 14:11:49,DESAFIO,21,São Luís,Programação (Back-end),Masculino,Desempregado,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Conseguir um emprego,Pública
2,2023/12/15 14:16:07,DESAFIO,24,São Luís,Programação (Front-end),Masculino,Desempregado,Parda,Graduação Incompleta (ou cursando),Não,Sim,Entre R$ 1.303 e R$ 2.605,Mudança de carreira,Pública
3,2023/12/15 14:24:20,DESAFIO,22,São Luís,Programação (Back-end),Masculino,"Não estou empregado, mas focando apenas nos es...",Parda,Graduação Incompleta (ou cursando),Não,Sim,Entre R$ 1.303 e R$ 2.605,Ter formação em uma das Trilhas,Pública
4,2023/12/15 14:35:51,DESAFIO,23,São Luís,Design e Experiência,Feminino,A busca de emprego,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Conseguir um emprego,Pública

In [117]:
# Apresentando informações gerais do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Carimbo de data/hora            309 non-null    object
 1   Nome Completo                   309 non-null    object
 2   Idade                           309 non-null    int64
 3   Município                       309 non-null    object
 4   Trilha                          309 non-null    object
 5   Gênero                          308 non-null    object
 6   Ocupação atual/Emprego:         309 non-null    object
 7   Cor ou Raça                     309 non-null    object
 8   Grau de Escolaridade            309 non-null    object
 9   Participou do Trilhas Anterior  309 non-null    object
 10  Acesso a net e ao pc            309 non-null    object
 11  Faixa de Renda Familiar         309 non-null    object
 12  Motivo da Participação          309 non-null    object
 13  Escola de Origem                309 non-null    object
dtypes: int64(1), object(13)
memory usage: 33.9+ KB

In [118]:
# Procurando valores nulos / em falta/ NaN por coluna
df.isnull().sum()

Carimbo de data/hora              0
Nome Completo                     0
Idade                             0
Município                         0
Trilha                            0
Gênero                            1
Ocupação atual/Emprego:           0
Cor ou Raça                       0
Grau de Escolaridade              0
Participou do Trilhas Anterior    0
Acesso a net e ao pc              0
Faixa de Renda Familiar           0
Motivo da Participação            0
Escola de Origem                  0
dtype: int64

In [119]:
# Tratando valor errôneo com exclusão de registro
#  df.loc[df['Gênero'].isnull() == True] -> PARA VISUALIZAR REGISTRO COM VALOR INCONGRUENTE

indice_valor_erroneo = df.loc[df['Gênero'].isnull() == True].index
df = df.drop(indice_valor_erroneo).reset_index(drop=True)

#df.iloc[224:228, :] -> PARA VISUALIZAR EXCLUSÃO

In [120]:
# Conversão de valores da coluna data/hora de string para tipo de data
df['Carimbo de data/hora'] = pd.to_datetime(df['Carimbo de data/hora'])
df['Carimbo de data/hora']

0     2023-12-15 13:18:17
1     2023-12-15 14:11:49
2     2023-12-15 14:16:07
3     2023-12-15 14:24:20
4     2023-12-15 14:35:51
              ...
303   2023-12-18 07:07:35
304   2023-12-18 08:01:29
305   2023-12-18 08:02:42
306   2023-12-18 08:07:43
307   2023-12-18 08:07:54
Name: Carimbo de data/hora, Length: 308, dtype: datetime64[ns]

<h2> INFORMAÇÕES GERAIS </h2>

>Quantidade de Inscritos

In [121]:
qtd_total = df['Nome Completo'].count()
qtd_total

308

> Média das idades dos inscritos

In [122]:
media_idades = df['Idade '].mean()
media_idades

24.350649350649352

> Quantidade de municípios alcançados

In [123]:
qtd_municipios_alcancados = df['Município'].nunique()
qtd_municipios_alcancados

64

> Quantidade de participantes que também estavam no TRILHAS I

In [124]:
condicao = df['Participou do Trilhas Anterior'] == 'Sim'
qtd_participantes_trilhas1 = df.loc[condicao].shape[0]
qtd_participantes_trilhas1

3

> Quantidade de participantes por escola de origem (%)

In [125]:
valores_por_escola = df['Escola de Origem'].value_counts()
total = df['Escola de Origem'].value_counts().sum()

qtd_participantes_escola_origem = (valores_por_escola / total) * 100
qtd_participantes_escola_origem

Escola de Origem
Pública                           89.935065
Particular sem Fins Lucrativos     6.818182
Particular (bolsista 100%)         3.246753
Name: count, dtype: float64

> Quantidade de participantes por Raça / Cor (%)

In [126]:
valores_por_raca_cor = df['Cor ou Raça'].value_counts()
total = df['Cor ou Raça'].value_counts().sum()

qtd_participantes_raca_cor = (valores_por_raca_cor / total) * 100
qtd_participantes_raca_cor

Cor ou Raça
Parda                58.116883
Branca               24.675325
Preta                16.233766
Povos originários     0.974026
Name: count, dtype: float64

> Quantidade de participantes por gênero (%)

In [127]:
valores_por_genero = df['Gênero'].value_counts()
total = df['Gênero'].value_counts().sum()

qtd_participantes_genero = (valores_por_genero / total) * 100
qtd_participantes_genero

Gênero
Masculino    62.662338
Feminino     37.337662
Name: count, dtype: float64

> Quantidade de inscrições por data

In [128]:
df_data = df.copy()

df_data['Carimbo de data/hora'] = df_data['Carimbo de data/hora'].dt.date
df_data = df_data.groupby('Carimbo de data/hora').size().reset_index(name='Contagem')
df_data

  Carimbo de data/hora  Contagem
0           2023-12-15        77
1           2023-12-16        71
2           2023-12-17       149
3           2023-12-18        11

> Quantidade de inscrições por Trilha (%)

In [129]:
valores_por_trilha = df['Trilha '].value_counts()
total = df['Trilha '].value_counts().sum()

qtd_inscricoes_trilha = (valores_por_trilha / total) * 100
qtd_inscricoes_trilha

Trilha
Ciência de Dados           33.766234
Programação (Front-end)    20.779221
Programação (Back-end)     20.454545
Design e Experiência       18.181818
Programação de Jogos        6.818182
Name: count, dtype: float64

<h2> DADOS SOCIOECONÔMICOS </h2>

> Quantidade de Inscritos sem acesso a um pc e a internet (inteiro e %)

In [130]:
qtd_sem_acesso = df['Acesso a net e ao pc'].value_counts()['Não']
total_registros = df['Acesso a net e ao pc'].value_counts().sum()
porcentagem_sem_acesso = (qtd_sem_acesso / total_registros) * 100

print(f'Quantidade sem acesso: {qtd_sem_acesso} | {porcentagem_sem_acesso:.2f}%')

Quantidade sem acesso: 10 | 3.25%

> Quantitativo de inscritos por Renda familiar e escola de origem (%)

In [131]:
df_qtd_inscritos_renda_escola_origem = df.groupby(['Faixa de Renda Familiar', 'Escola de Origem']).size().reset_index(name='Porcentagem de Inscritos')
df_qtd_inscritos_renda_escola_origem['Porcentagem de Inscritos'] = (df_qtd_inscritos_renda_escola_origem['Porcentagem de Inscritos'] / df_qtd_inscritos_renda_escola_origem['Porcentagem de Inscritos'].sum()) * 100
df_qtd_inscritos_renda_escola_origem

,Faixa de Renda Familiar,Escola de Origem,Porcentagem de Inscritos
0,Até R$ 1.302,Particular (bolsista 100%),1.623377
1,Até R$ 1.302,Particular sem Fins Lucrativos,1.298701
2,Até R$ 1.302,Pública,45.454545
3,Entre R$ 1.303 e R$ 2.605,Particular sem Fins Lucrativos,2.597403
4,Entre R$ 1.303 e R$ 2.605,Pública,29.220779
5,Entre R$ 2.606 e R$ 3.907,Particular (bolsista 100%),0.974026
6,Entre R$ 2.606 e R$ 3.907,Particular sem Fins Lucrativos,1.298701
7,Entre R$ 2.606 e R$ 3.907,Pública,10.064935
8,Entre R$ 3.908 e R$ 5.209,Particular (bolsista 100%),0.324675
9,Entre R$ 3.908 e R$ 5.209,Particular sem Fins Lucrativos,0.649351
10,Entre R$ 3.908 e R$ 5.209,Pública,2.922078
11,Entre R$ 5.210 e R$ 6.511,Particular (bolsista 100%),0.324675
12,Entre R$ 5.210 e R$ 6.511,Pública,1.298701
13,Superior a R$ 7.000,Particular sem Fins Lucrativos,0.974026
14,Superior a R$ 7.000,Pública,0.974026

> Quantitativo de inscritos por Motivo da participação (%)

In [132]:
df_motivo_participacao = df.groupby('Motivo da Participação').size().reset_index(name='Quantidade de Inscritos')
df_motivo_participacao

            Motivo da Participação  Quantidade de Inscritos
0             Conseguir um emprego                      111
1              Mudança de carreira                       40
2         Receber ajuda financeira                       16
3  Ter formação em uma das Trilhas                      141

> Quantitativo de inscritos por ocupação atual (%)

In [133]:
df_inscritos_ocupacao = df.groupby('Ocupação atual/Emprego:').size().reset_index(name='Porcentagem de Inscritos')

total = df_inscritos_ocupacao['Porcentagem de Inscritos'].sum()
df_inscritos_ocupacao['Porcentagem de Inscritos'] = (df_inscritos_ocupacao['Porcentagem de Inscritos'] / total) * 100
df_inscritos_ocupacao

                             Ocupação atual/Emprego:  Porcentagem de Inscritos
0                                 A busca de emprego                 18.506494
1                                           Autônomo                  6.818182
2                                       Desempregado                 21.103896
3                                          Empregado                 12.337662
4             Empregado, mas não na área tecnológica                  9.740260
5                                    Nunca Trabalhei                  8.116883
6  Não estou empregado, mas focando apenas nos es...                 23.376623

<h2>
    MUNICÍPIOS ALCANÇADOS
</h2>

> Quantidade de inscritos alcançados por município

In [141]:
df_inscritos_municipio = df.groupby('Município').size().reset_index(name='Quantidade de Inscritos')
df_inscritos_municipio

            Município  Quantidade de Inscritos
0           Alcântara                        1
1               Arari                        1
2          Açailândia                        5
3             Bacabal                       24
4           Bacabeira                        2
..                ...                      ...
59  Trizidela do Vale                        2
60            Turiaçu                        1
61              Viana                        1
62    Vitorino Freire                        1
63            Zé Doca                        3

[64 rows x 2 columns]