<h1>ANÁLISE DE DADOS DO DESAFIO 03 - TRILHAS INOVA - CIÊNCIA DE DADOS</h1>
<h2> Análise de métricas: </h2>

> INFORMAÇÕES GERAIS: 
- Quantidade total de Inscritos 
- Média das Idades dos Inscritos
- Quantidade de municípios alcançados
- Quantidade de participantes que também estavam no TRILHAS I
- Quantidade de participantes por Escola de Origem (%)
- Quantidade de participantes por Raça / Cor (%)
- Quantidade de participantes por gênero (%)
- Quantidade de inscrições por data
- Quantidade de inscrições por Trilha (%)

> DADOS SOCIOECONÔMICOS:
- Quantidade Total de Inscritos
- Quantidade de Municípios alcançados (inteiro e %)
- Quantidade de inscritos sem acesso a um pc e a internet (inteiro e %)
- Quantitativo de inscritos por Renda familiar e escola de origem (%)
- Quantidade de inscritos por grau de escolaridade (%)
- Quantitativo de inscritos por Motivo da participação (%)
- Quantitativo de inscritos por ocupação atual (%)

> MUNICÍPIOS ALCANÇADOS
- Quantidade de inscritos por município

In [9]:
# Importando bibliotecas para análise teste
import pandas as pd
import plotly as plt

In [10]:
# Criando objeto dataframe com os dados
df = pd.read_csv('dados_trilhas.csv')
df.head()

,Carimbo de data/hora,Nome Completo,Idade,Município,Trilha,Gênero,Ocupação atual/Emprego:,Cor ou Raça,Grau de Escolaridade,Participou do Trilhas Anterior,Acesso a net e ao pc,Faixa de Renda Familiar,Motivo da Participação,Escola de Origem
0,2023/12/15 13:18:17,DESAFIO,24,São Luís,Programação (Front-end),Feminino,Nunca Trabalhei,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Ter formação em uma das Trilhas,Pública
1,2023/12/15 14:11:49,DESAFIO,21,São Luís,Programação (Back-end),Masculino,Desempregado,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Conseguir um emprego,Pública
2,2023/12/15 14:16:07,DESAFIO,24,São Luís,Programação (Front-end),Masculino,Desempregado,Parda,Graduação Incompleta (ou cursando),Não,Sim,Entre R$ 1.303 e R$ 2.605,Mudança de carreira,Pública
3,2023/12/15 14:24:20,DESAFIO,22,São Luís,Programação (Back-end),Masculino,"Não estou empregado, mas focando apenas nos es...",Parda,Graduação Incompleta (ou cursando),Não,Sim,Entre R$ 1.303 e R$ 2.605,Ter formação em uma das Trilhas,Pública
4,2023/12/15 14:35:51,DESAFIO,23,São Luís,Design e Experiência,Feminino,A busca de emprego,Parda,Graduação Incompleta (ou cursando),Não,Sim,Até R$ 1.302,Conseguir um emprego,Pública

In [11]:
# Apresentando informações gerais do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Carimbo de data/hora            309 non-null    object
 1   Nome Completo                   309 non-null    object
 2   Idade                           309 non-null    int64
 3   Município                       309 non-null    object
 4   Trilha                          309 non-null    object
 5   Gênero                          308 non-null    object
 6   Ocupação atual/Emprego:         309 non-null    object
 7   Cor ou Raça                     309 non-null    object
 8   Grau de Escolaridade            309 non-null    object
 9   Participou do Trilhas Anterior  309 non-null    object
 10  Acesso a net e ao pc            309 non-null    object
 11  Faixa de Renda Familiar         309 non-null    object
 12  Motivo da Participação          309 non-null    object
 13  Escola de Origem                309 non-null    object
dtypes: int64(1), object(13)
memory usage: 33.9+ KB

In [15]:
# Procurando valores nulos / em falta/ NaN por coluna
df.isnull().sum()

Carimbo de data/hora              0
Nome Completo                     0
Idade                             0
Município                         0
Trilha                            0
Gênero                            1
Ocupação atual/Emprego:           0
Cor ou Raça                       0
Grau de Escolaridade              0
Participou do Trilhas Anterior    0
Acesso a net e ao pc              0
Faixa de Renda Familiar           0
Motivo da Participação            0
Escola de Origem                  0
dtype: int64

In [29]:
# Tratando valor errôneo com exclusão de registro
#  df.loc[df['Gênero'].isnull() == True] -> PARA VISUALIZAR REGISTRO COM VALOR INCONGRUENTE

indice_valor_erroneo = df.loc[df['Gênero'].isnull() == True].index
df = df.drop(indice_valor_erroneo).reset_index(drop=True)

#df.iloc[224:228, :] -> PARA VISUALIZAR EXCLUSÃO

,Carimbo de data/hora,Nome Completo,Idade,Município,Trilha,Gênero,Ocupação atual/Emprego:,Cor ou Raça,Grau de Escolaridade,Participou do Trilhas Anterior,Acesso a net e ao pc,Faixa de Renda Familiar,Motivo da Participação,Escola de Origem
224,2023/12/17 19:52:52,DESAFIO,38,Palmeirândia,Programação (Front-end),Masculino,"Empregado, mas não na área tecnológica",Preta,Ens. Médio Completo,Não,Sim,Até R$ 1.302,Ter formação em uma das Trilhas,Pública
225,2023/12/17 19:54:07,DESAFIO,48,São Luís,Ciência de Dados,Masculino,Desempregado,Parda,Graduação Completa,Não,Sim,Até R$ 1.302,Ter formação em uma das Trilhas,Pública
226,2023/12/17 20:02:42,DESAFIO,20,Bacabal,Design e Experiência,Feminino,A busca de emprego,Branca,Ens. Médio Completo,Não,Sim,Entre R$ 1.303 e R$ 2.605,Ter formação em uma das Trilhas,Pública
227,2023/12/17 20:03:13,DESAFIO,29,Bacabal,Ciência de Dados,Masculino,Empregado,Parda,Ens. Médio Completo,Não,Sim,Entre R$ 1.303 e R$ 2.605,Mudança de carreira,Pública

<h2> INFORMAÇÕES GERAIS </h2>

>Quantidade de Inscritos

In [49]:
qtd_total = df['Nome Completo'].count()
qtd_total

308

> Média das idades dos inscritos

In [43]:
media_idades = df['Idade '].mean()
media_idades

24.350649350649352

> Quantidade de municípios alcançados

In [48]:
qtd_municipios_alcancados = df['Município'].nunique()
qtd_municipios_alcancados

64

> Quantidade de participantes que também estavam no TRILHAS I

In [59]:
condicao = df['Participou do Trilhas Anterior'] == 'Sim'
qtd_participantes_trilhas1 = df.loc[condicao].shape[0]
qtd_participantes_trilhas1

3

> Quantidade de participantes por escola de origem (%)

In [65]:
valores_por_escola = df['Escola de Origem'].value_counts()
total = df['Escola de Origem'].value_counts().sum()

qtd_participantes_escola_origem = (valores_por_escola / total) * 100
qtd_participantes_escola_origem

Escola de Origem
Pública                           89.935065
Particular sem Fins Lucrativos     6.818182
Particular (bolsista 100%)         3.246753
Name: count, dtype: float64

> Quantidade de participantes por Raça / Cor (%)

In [67]:
valores_por_raca_cor = df['Cor ou Raça'].value_counts()
total = df['Cor ou Raça'].value_counts().sum()

qtd_participantes_raca_cor = (valores_por_raca_cor / total) * 100
qtd_participantes_raca_cor

Cor ou Raça
Parda                58.116883
Branca               24.675325
Preta                16.233766
Povos originários     0.974026
Name: count, dtype: float64

> Quantidade de participantes por gênero (%)

In [76]:
valores_por_genero = df['Gênero'].value_counts()
total = df['Gênero'].value_counts().sum()

qtd_participantes_genero = (valores_por_genero / total) * 100
qtd_participantes_genero

Gênero
Masculino    62.662338
Feminino     37.337662
Name: count, dtype: float64

> Quantidade de inscrições por data

> Quantidade de inscrições por Trilha (%)

In [77]:
valores_por_trilha = df['Trilha '].value_counts()
total = df['Trilha '].value_counts().sum()

qtd_inscricoes_trilha = (valores_por_trilha / total) * 100
qtd_inscricoes_trilha

Trilha
Ciência de Dados           33.766234
Programação (Front-end)    20.779221
Programação (Back-end)     20.454545
Design e Experiência       18.181818
Programação de Jogos        6.818182
Name: count, dtype: float64

In [30]:
df.columns

Index(['Carimbo de data/hora', 'Nome Completo', 'Idade ', 'Município',
       'Trilha ', 'Gênero', 'Ocupação atual/Emprego:', 'Cor ou Raça',
       'Grau de Escolaridade', 'Participou do Trilhas Anterior',
       'Acesso a net e ao pc', 'Faixa de Renda Familiar',
       'Motivo da Participação', 'Escola de Origem'],
      dtype='object')