# Conhecendo a base de dados

## Importando os dados

In [1]:
# IMPORT DO PANDAS
import pandas as pd

In [4]:
# IMPORT DOS DADOS PARA UM DATAFRAME
df = pd.read_csv('alugueis.csv', delimiter=';')

## Características gerais da base de dados

In [18]:
# INFORMAÇÕES TÉCNICAS DA BASE DE DADOS
df.info() #valores nulos detectados nas colunas de Valor, Condominio, IPTU

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [19]:
# INFORMAÇÕES DE ESTATÍSTICA DESCRITIVA DOS DADOS
df.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

## Tratamento de valores nulos:

In [34]:
# LOCALIZANDO VALORES NULOS DAS COLUNAS DE VALOR / CONDOMINIO / IPTU
nulos_valor = df.loc[df['Valor'].isnull(), :]
nulos_condominio = df.loc[df['Condominio'].isnull(), :]
nulos_iptu = df.loc[df['IPTU'].isnull(), :]

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

In [26]:
# TIPOS DE IMÓVEIS E QUANTIDADES PRESENTES NA BASE DE DADOS
df['Tipo'].value_counts()

Tipo
Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: count, dtype: int64

In [ ]:
# DETECTANDO VALOR MÉDIO POR TIPO DE IMÓVEL

## Removendo os imóveis comerciais

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

### **Selecionando apenas os imóveis do tipo apartamento**

# Tratando e filtrando os dados

## Lidando com dados nulos

## Removendo registros

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

## Salvando os dados

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas